<h1>heartrates#index</h1>


<% if user_signed_in? %>
  Signed in as <%= current_user.email %>.
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> or
  <%= link_to "Sign in", new_user_session_path %>
<% end %>

<%= form_tag("/heartrate_search/index",method: "post") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= date_field_tag(:inputDate, @inputDate) %>
  <%= submit_tag("Search") %>
<% end %>
<div id="chart"></div>
<% if @messages.empty? %>
<p>ご指定の日付の心拍数はございません。</p>
<% else %>
<table border="1">
  <tr>
    <th>取得時間</th>
    <th>心拍数</th>
  </tr>
  <% @messages.each do |message| %>
    <tr>
      <td><%= message['time'] %></td>
      <td><%= message['value'] %></td>
    </tr>
  <% end %>
</table>
<% end %>
<script type="text/javascript">
<!--

$('#chart').highcharts({
    title:{
      text: '心拍数遷移'
    },    
    yAxis: [{ // Primary yAxisの定義
      title: {text: '心拍数',style: {color: '#e74c3c'}},
      labels: {format: '{value}bpm',style: {color: '#c0392b'}},
      opposite: false, //右側の軸
      plotBands : [{ // ゾーンを描画（例えば安全範囲のようなゾーンを描ける）
        from : 136,
        to : 97,
        color : 'rgba(241, 196, 15, 0.2)',
        label : {text : 'ゾーン表示'}
      }],
      plotLines : [{ // 線の描画(上限のような線を描ける）
        value : 140,
        color : '#3A5574',
        dashStyle : 'shortdash',
        width : 2,
        label : {text : '線の説明'}
      }],
    //  max: 200, // y軸の最大値。これにならない場合があるので、書かない(自動になる)ほうが良いかも
    //  min: 0 // y軸の最小値。但し２軸になると有効ではなくならう
    },{ // Secondary yAxisの定義(省略)
     title: {text:''}
    }],
    xAxis: {
      type: 'datetime',
      dateTimeLabelFormats: { //たぶんseriesで与える時間データで表示が決まる
        second: '%H:%M:%S',
        minute: '%H:%M',
        hour: '%m/%e %H:%M',
        day: '%y/%m/%e',
        week: '%y/%m/%e',
        month: '%Y/%m',
        year: '(%Y)'
      },
      title: {text: null} // 横軸のタイトル。nullは表示しない
    },
    legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },

    series: [{
        name: '心拍数', // Y軸のラベル名
        color: '#3498db', // nameの色
        type: 'area', // 棒グラフ指定の場合。lineにすると折れ線グラフになる
        pointInterval: 24 * 3600 * 1000, // 1日単位。
        pointStart: Date.UTC(2016, 9, 1), //開始日
        yAxis: 0, //2番目のyAxisのデータという意味。0もしくは記載しない場合は1番目
        data: <%= @heartrates %>,
        tooltip: {valueSuffix: 'bpm'} //ポップアップに表示される単位指定
    }]
});
// -->
</script>